.CategoryBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5em 1em;
  background-color: #ffffff;
  outline: 1px solid #e0dede;
  color: #8a8a8a;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  &:hover {
      color: #080897;
  }

  .chevron-down {
    margin-left: 0.8em;
    font-size: 10px;
  }
}
