.homepage {
  margin: 0;
  padding: 0;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

    @media screen and (min-width: 768px) {
      grid-template-columns: 180px 1fr;
    }

    @media screen and (min-width: 1200) {
      grid-template-columns: 200px 1fr;
    }
  }
}
