$secondaryColor: #080897;
$backgroundColor: #f5f5f5;

.homepage {
  margin: 0;
  padding: 0;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

    @media screen and (min-width: 768px) {
      grid-template-columns: 180px 1fr;
    }

    @media screen and (min-width: 1200) {
      grid-template-columns: 200px 1fr;
    }

    .left {
      position: fixed;
      top: 0;
      left: 0.5em;
      width: auto;
      min-height: auto;
      background-color: $backgroundColor;
      z-index: 2;

      @media screen and (min-width: 768px) {
        position: relative;
        min-height: 100vh;
        padding: 0 0.5em;
        border-right: 1px solid #e7e7e7;
        z-index: 0;
      }

      .mobileToggle {
        position: relative;
        width: 25px;
        height: 25px;
        margin: 0.8em 0.3em;

        @media all and (min-width: 768px) {
          display: none;
        }

        #toggleHamburger {
          position: absolute;
          top: 0;
          left: -7px;
          width: 25px;
          height: 25px;
          z-index: 5;
          opacity: 0;
          cursor: pointer;

          &:checked .content {
            display: block;
          }

          &:checked ~ .hamburgerContainer .hambuger:nth-child(2) {
            left: -100px;
          }

          &:checked ~ .hamburgerContainer .hambuger:first-child {
            transform: rotate(45deg) translateY(4px) translateX(5px);
            color: #ff0000;
            width: 100%;
          }

          &:checked ~ .hamburgerContainer .hambuger:last-child {
            transform: rotate(-45deg) translateY(-5px) translateX(5px);
            color: #ff0000;
            width: 100%;
          }
        }

        .hamburgerContainer {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          grid-gap: 0.5rem;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          padding: 0 0.2rem;

          @media screen and (max-width: 768px) {
            grid-gap: 0;
          }

          .hambuger {
            position: relative;
            right: 0;
            width: 100%;
            border: 1px solid;
            transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            margin-bottom: 0.3rem;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .logo {
        display: none;
        align-items: center;
        height: 70px;
        font-size: 1.5rem;
        font-weight: 700;
        color: $secondaryColor;

        @media screen and (min-width: 768px) {
          display: flex;
          height: 100px;
        }
      }

      .content {
        display: none;
        width: 50vw;
        min-height: 100vh;
        margin-top: 2em;
        padding-right: 2rem;

        @media screen and (min-width: 768px) {
          display: block;
          width: auto;
          margin-top: 0;
          min-height: auto;
        }

        .main {
          margin-top: 1.5em;

          @media screen and (min-width: 768px) {
            margin-top: 0;
          }
        }

        .share {
          margin-top: 1em;

          .share-header {
            font-size: 14px;
            font-weight: 700;
            color: #2c2b2b;
            margin: 0 0 0.5em 1em;
          }
        }
      }

      .mobile-on {
        display: block;
      }
    }

    .right {
      width: 100%;
      min-height: 100vh;
      overflow: hidden;
      background: $backgroundColor;

      @media screen and (min-width: 768px) {
        display: block;
      }

      .top-nav {
        display: flex;
        width: 100%;
        align-items: center;
        width: 100%;
        height: 50px;
        z-index: 1;

        @media screen and (min-width: 768px) {
          width: 100%;
          height: 100px;
        }

        .mobile-logo {
          flex: 1 1 auto;
          font-size: 1.4rem;
          font-weight: 700;
          text-align: center;
          color: $secondaryColor;
          z-index: 1;

          .text {
            margin-left: 3.1em;
          }

          @media screen and (min-width: 768px) {
            display: none;
          }
        }

        .mobile-search {
          font-size: 1.3rem;
          margin-left: 0.7em;
          color: #777474;
          cursor: pointer;

          @media screen and (min-width: 768px) {
            margin-left: 1.2em;
          }
        }

        .notification {
          position: relative;
          font-size: 1.3rem;
          margin-left: 0.7em;
          color: $secondaryColor;
          cursor: pointer;

          @media screen and (min-width: 768px) {
            margin-left: 1.2em;
          }

          .count {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: red;
            color: #ffffff;
            font-size: 9px;
            font-weight: 500;
            border-radius: 50%;
            padding: 0 3px;
          }

          .dropdown {
            position: absolute;
            bottom: 0;
            right: 0;
            display: grid;
            grid-template-columns: 1fr;
            width: 200px;
            transform: translate(50px, 190px);
            border: 1px solid #ece8e8;
            box-shadow: 0 0 8px #ddd8d8;
            background-color: #fafafa;
            border-radius: 3px;
            z-index: 2;

            @media screen and (min-width: 768px) {
              width: 200px;
              transform: translate(100px, 190px);
            }

            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              height: 0;
              transform: translate(130px, -15px);
              border-left: 12px solid transparent;
              border-right: 12px solid transparent;
              border-bottom: 15px solid #fafafa;

              @media screen and (min-width: 768px) {
                transform: translate(82px, -15px);
              }
            }
          }
        }

        .user {
          display: inline-flex;
          align-items: center;
          margin-left: 0.7em;
          color: gray;
          margin-right: 0.5em;
          cursor: pointer;

          @media screen and (min-width: 768px) {
            margin-left: 1.2em;
            margin-right: 0;
          }

          .user-image {
            position: relative;

            .avatar {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              overflow: hidden;
            }

            .online {
              position: absolute;
              bottom: 1px;
              right: 2px;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: rgb(44, 196, 44);
            }
          }

          .username {
            display: none;

            @media screen and (min-width: 768px) {
              display: block;
              font-size: 14px;
              margin-left: 0.5em;
            }
          }

          .caret-down {
            margin-left: 3px;
            font-size: 10px;
          }
        }
      }

      .categories {
        max-width: 100%;
        margin-top: 1em;

        @media screen and (min-width: 768px) {
          margin-top: 0em;
        }

        .categories-container {
          display: flex;
          width: 100%;
          overflow: auto;
          flex-wrap: nowrap;
          border-radius: 5px;
          box-shadow: 0 0 8px #d6d2d2;

          @media screen and (min-width: 768px) {
            display: grid;
            grid-auto-flow: column;
            width: 79.3%;
            margin-left: 2.5em;
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }

      .mob-search {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
      }

      .main-content {
        width: 100%;
        padding: 1em 0 2em 0;

        .loading {
          width: 100%;
          height: 70vh;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          font-size: 1.1rem;
        }

        .main-content-container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-items: center;
          gap: 1rem 0.5em;
          flex-wrap: wrap;
          margin-top: 1em;

          @media screen and (min-width: 540px) {
            gap: 1em;
            grid-template-columns: repeat(3, 1fr);
          }

          @media screen and (min-width: 768px) {
            gap: 1em;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            margin-left: 2.5em;
          }

          @media screen and (min-width: 1200px) {
            gap: 1em;
            grid-template-columns: repeat(5, 200px);
            margin-left: 2.5em;
          }
        }
      }
    }
  }
}
